/* Custom Properties  */
:root{
     --strong-blue-green: #2AB6D9;
     --strong-green: #33D35E;
     --green: #30C88F;
     --light-black: #2D314D;
     --light-color:  #9597A5;
     --white: #FFFFFF;
}


/* Global  */

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

*,
*::after,
*::before{
     box-sizing: inherit;
}

body{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 16px;
     line-height: 1.5 ;
     font-family: "Arial", sans-serif;
     flex-direction: column;
     height: 100%;
     background-color: #fff;
     color: #222;
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 50px;
     padding-right: 50px;
}

/* Main content  */
.main-content{
     flex-grow: 1;
}
