/* Font face  */
@font-face {
     font-family: 'Public Sans';
     src: url('/fonts/PublicSans-Thin.woff2') format('woff2'),
         url('/fonts/PublicSans-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Public Sans';
     src: url('/fonts/PublicSans-Medium.woff2') format('woff2'),
         url('/fonts/PublicSans-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }



/* Custom Properties  */
:root{
     --strong-blue-green: #2AB6D9;
     --strong-green: #33D35E;
     --green: #30C88F;
     --light-black: #2D314D;
     --light-color:  #9597A5;
     --white: #FFFFFF;
     --cta-bg-color: #F4F5F7;
     --bg-color: #fafafa;
     --info-bg-color: #f4f5f8;
     --article-section-bg-color: #F2F2F2;
}


/* Global  */

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

*,
*::after,
*::before{
     box-sizing: border-box;
}

body{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 16px;
     line-height: 1.5 ;
     font-family: "Public Sans", "Arial", sans-serif;
     flex-direction: column;
     height: 100%;
     background-color: var(--white);
     color: var(--light-black);
}

/* Button  */
.btn {
     text-decoration: none;
     background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
     border-radius: 22px;
     color:var(--white);
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 28px;
     padding: 8px 36px;
     width: 170px;
     display: block;
}
.btn:hover{
     opacity: 0.8;
}
.btn:active{
     opacity: 0.6;
}
img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 165px;
     padding-right: 165px;
}

/* Main content  */
.main-content{
     flex-grow: 1;
}


.main-section {
     flex-grow: 1;
}

/* Header Section */
.header {
     padding-top: 32px;
     padding-bottom: 15px;
     padding-top: 15px;
     position: relative;
     z-index: 100;
     width: 100%;
     background-color:var(--white);
}


.header-inner {
     display: flex;
     align-items: center;
     justify-content: space-between;

}
.logo {
     display: block;
}
.logo-img {
     display: block;
     fill: var(--light-black);
}
.navbar {
     margin: 0;
     padding: 0;
     display: flex;
}
.navbar-list {
     list-style: none;
}
.navbar-link {
     padding: 3px;
     text-decoration: none;
     color:var(--light-color);
     font-size: 14px;
     line-height: 16px;
     letter-spacing: -0.107692px;
     width: 32px;
     padding-bottom: red;
     border-bottom-color:red;
     position: relative;

}

.navbar-link::after{
     content: " ";
     position: absolute;
     height: 4px;
     width: 100%;
     bottom: -25px;
     left: 0;
     background: var(--white);
}
.navbar-link:hover{
     color: var(--light-black);
}
.navbar-link:active{
     color: var(--light-black);
     opacity: 0.8;
}
.navbar-link:hover::after{
     background: linear-gradient(135deg, var(--strong-green) 0%, var(--strong-blue-green) 99.58%);

}
.navbar-link:active::after{
     background: linear-gradient(135deg, var(--strong-green) 0%, var(--strong-blue-green) 99.58%);
     opacity: 0.6;
}
.navbar-list:not(:last-child){
     margin-right: 30px;
}


.request-btn {
}


/* CTA Section  */
.cta-section {
     background-color:var(--bg-color);
     display: block;
     background-image: url("/images/hero-bg-desktop.svg");
     background-repeat: no-repeat;
     background-position: top 66% right calc(-27% - 585px);
     position: relative;
     overflow-x: clip;
}



.cta-info {
     padding-top: 170px;
     padding-bottom: 130px;

}
.cta-header {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 100;
     font-size: 56px;
     line-height: 64px;
     letter-spacing: -1px;
     color:var(--light-black);
     width: 394px;
}
.cta-text {
     width: 447px;
     margin: 0;
     padding: 0;
     font-size: 18px;
     line-height: 28px;
     letter-spacing: -0.28125px;
     color:var(--light-color);
     margin-top: 24px;
     margin-bottom: 36px;
}
.cta-btn {
     /* padding-top: 8px; */
     display: block;
}
.cta-img {
     width: 729px;
     height: 900px;
     z-index: 1;
     position: absolute;
     right: -9%;
     top: -129px;
}
.easybank-info {
     background-color: var(--info-bg-color);
     padding-top: 96px;
     padding-bottom: 94px;
}
.info-box-img{
     display: block;
     width: 72px;
     height: 72px;
     margin-bottom: 40px;
}
.info-header {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 100;
     font-size: 24px;
     line-height: 28px;
     letter-spacing: -0.428571px;
     color: var(--light-black);
     margin-bottom: 26px;
}
.info-section-text{
     font-size: 18px;
     line-height: 28px;
     letter-spacing: -0.28125px;
     color: var(--light-color);
     width: 635px;
}
.info-text {
     margin: 0;
     padding: 0;
     font-size: 16px;
     line-height: 26px;
     letter-spacing: -0.25px;
     color: var(--light-color);
     width: 255px;
}
.info-inner {
     display: flex;
     margin-top: 72px;
}
.info-box {
     width: 255px;
}
.info-box:not(:last-child){
     margin-right: 30px;
}


/* <!-- Latest Articles  --> */
.articles-section {
     padding-top: 80px;
     padding-bottom: 80px;
     background-color:var( --bg-color);
}
.articles-header {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 100;
     font-size: 40px;
     line-height: 64px;
     letter-spacing: -0.714286px;
     color: var(--light-black);
     margin-bottom: 40px;

}
.articles-iner {
     display: flex;
}
.articles-box {
     background-color:var(--white);
     padding-bottom: 24px;
     border-radius: 5px;
}
.articles-box:not(:last-child){
     margin-right: 30px;
}
.articles-box-img{
     width: 255px;
     height: 200px;
     border-radius:5px;
     display: block;
}
.article-posted-by {
     margin: 0;
     padding: 0;
     margin-top: 25px;
     margin-left: 24px;
     font-size: 10px;
     line-height: 18px;
     letter-spacing: -0.15625px;
     color: var(--light-color);

}
.article-box-header {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 100;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: -0.285714px;
     color: var(--light-black);
     width: 207px;
     margin-top: 8px;
     margin-left: 24px;

}
.article-box-text {
     margin: 0;
     padding: 0;
     margin-left: 24px;
     margin-top: 8px;
     font-size: 13px;
     line-height: 18px;
     letter-spacing: -0.203125px;
     color: var(--light-color);
     width: 207px;

}
.footer-section {
     background-color:var(--light-black);
     color: var(--white);
     padding-top: 48px;
     padding-bottom: 48px;
}
.footer-links {
     display: flex;
     justify-content:space-between;
}
.footer-social-links {
     display: flex;
}

.footer-logo {
     display: block;
}
.footer-logo-img {
     width: 140px;
     height: 20px;
}
.socials-inner {
     margin-top: 55px;
     display: flex;
}
.footer-social {
     margin: 0;
     padding: 0;
     display: block;
     color: var(--white);
}
.footer-social:hover{
     color:var(--green);
}
.footer-social:active{
     color:var(--green);
     opacity: 0.8;
}
.footer-social:not(:last-child){
     margin-right: 13px;
}
.footer-section-links {
     display: flex;
}
.footer-section-link {
     margin: 0;
     padding: 0;
}
.footer-section-link:first-child{
     margin-right: 30px;
}
.footer-list {
     list-style: none;

}
.footer-list:not(:last-child){
     margin-bottom: 8px;
}
.footer-list-link {
     margin: 0;
     padding: 0;
     font-size: 15px;
     line-height: 26px;
     letter-spacing: -0.234375px;
     color: var(--white);
     text-decoration: none;
     display: block;
}
.footer-list-link:hover{
     color:var(--green);
}
.footer-list-link:active{
     color:var(--green);
     opacity: 0.8;
}
.footer-btn-wrapper {
}
.footer-btn {
}
.copyrights {
     margin: 0;
     padding: 0;
     font-size: 15px;
     line-height: 26px;
     text-align: right;
     letter-spacing: -0.234375px;
     color: var(--white);
     mix-blend-mode: normal;
     opacity: 0.5;
     margin-top: 24px;
}